* {
  margin:0;
  padding: 0;
}

body {
  background-image: url('../media/toDo.jpg');
  background-repeat: no-repeat;
   /* background-size: cover; */
   height: 100%;
}

.App {
  position: absolute;
  top: 0;
  left: 10px;
  /* transform: translateX(-50%); */
  text-align: center;
  margin: 20px;
  width: 50%;
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
}

.date {
margin: 0 20px;
}

.toDoApp{
  background-color:rgb(71, 97, 124);
  padding: 30px;
  color: white;
}

button.done {
  text-align: left;
  background-color: #30A64A;
  border: 2px solid #30A64A;
  color: white;
  padding: 10px;
  cursor: pointer;
}

button.delete, button.deleteDone {
  position: relative;
  background-color: #DA3849;
  border: 2px solid #DA3849;
  color: white;
  padding: 10px;
  cursor: pointer;
}

p.tasks {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* background-color: #2ABB9C; */
  padding: 15px;
  /* margin: 1px 0; */
  border: 1px solid rgb(71, 97, 124);
}

p.tasks p{
  margin-right: 10px;
}


.dateDoneDelete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.done {
  margin-left: 30px;
}

.form {
  padding: 30px;
  border-top: 1px solid white;
  background-color: rgb(71, 97, 124);
  font-family: arial;
  outline: none;
}

.form input:nth-child(1) {
  width: 60%;
  height: 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: arial;
  outline: none;
}

.form input:nth-child(2) {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin: 5px;
  font-family: arial;
  outline: none;
}

.form input.date {
  width: 200px;
  height: 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: arial;
  outline: none;
}

.form button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #30A64A;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  transition: .3s;
}

.form button:hover {
  background: white;
  border: 1px solid #30A64A;
  color: #30A64A;
}

div.taskList h2, h3{
  padding: 20px;
  background-color:rgb(71, 97, 124);
  overflow: hidden;
  color: white;
}



@media (max-width: 768px){
  .App {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px auto;
    width: 95%;
  }

  .toDoApp{
  padding: 15px;
  }
  
  button.done {
    padding: 5px;
  }
  
  button.delete, button.deleteDone {
    padding: 5px;

  }
  
  p.tasks {
    padding: 5px;

  }
  
  p.tasks p{
    margin-right: 5px;
  }
  
  
  button.done {
    margin-left: 10px;
  }
  
  .form {
    padding: 10px;
  }
  
  .form input:nth-child(1) {
    width: 50%;
    height: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;

  }
  
  .form input:nth-child(2) {
    position: relative;
    top: 5px;
    width: 20px;
    height: 15px;
    margin: 5px;

  }
  
  .form input.date {
    width: 200px;
    height: 15px;
    margin: 10px;

  }
  
  .form button {
    margin-top: 10px;
    padding: 5px 100px;
    background-color: #30A64A;
    font-size: 15px;
  }
  
  .form button:hover {
    background: white;
    border: 1px solid #30A64A;
    color: #30A64A;
  }

h1 {
    font-size: 20px;
  }
  
  div.taskList h2, h3{
    padding: 10px;
    background-color:rgb(71, 97, 124);
    overflow: hidden;
    color: white;
    font-size: 17px;
  }

  label {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}


@media (max-width: 360px){
  .App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px auto;
    width: 90%;

  }

  
  .toDoApp{
  padding: 15px;
  }
  
  button.done {
    padding: 5px;
  }
  
  button.delete, button.deleteDone {
    padding: 5px;

  }
  
  p.tasks {
    padding: 5px;

  }
  
  p.tasks p{
    margin-right: 5px;
  }
  
  
  button.done {
    margin-left: 10px;
  }
  
  .form {
    padding: 10px;
  }
  
  .form input:nth-child(1) {
    width: 50%;
    height: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;

  }
  
  .form input:nth-child(2) {
    position: relative;
    top: 5px;
    width: 20px;
    height: 15px;
    margin: 5px;

  }
  
  .form input.date {
    width: 200px;
    height: 15px;
    margin: 10px;

  }
  
  .form button {
    margin-top: 10px;
    padding: 5px 100px;
    background-color: #30A64A;
    font-size: 15px;
  }
  
  .form button:hover {
    background: white;
    border: 1px solid #30A64A;
    color: #30A64A;
  }

h1 {
    font-size: 20px;
  }
  
  div.taskList h2, h3{
    padding: 10px;
    background-color:rgb(71, 97, 124);
    overflow: hidden;
    color: white;
    font-size: 17px;
  }

  label {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

}

